/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
ul{
  list-style-type: none;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#name{
  font-size:50px;
}
.properties{
  font-size:30px;
}